{% extends "master.html" %}
{% block title %}
About Us
{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<h1>About Us</h1>

<h3>The Hack(NC)</h3>

<p>OptiMeet is a simple, light, group-event planning tool to find the optimum meeting place for a group of users, provide them with directions, and share events, right from within a browser. Get started by clicking "Create Event" at the bottom of the page.</p>

<h3>The Team</h3>

<ul>
	<li><a href=https://github.com/alex-wyc>@alex-wyc</li>
	<li><a href=https://github.com/benknoble>@benknoble</li>
	<li><a href=https://github.com/VivekBhat>@VivekBhat</li>
	<li><a href=https://github.com/K-lum>@K-lum</li>
</ul>

<h3>The Technology</h3>

<ul>
	<li>Python</li>
	<li>Flask</li>
	<li>Materialize CSS</li>
	<li>Sqlite3</li>
	<li>Esri ArcGIS API</li>
	<li>Google Places API</li>
</ul>

{% endblock %}