<!DOCTYPE html>
<html>
<head>
	<title>Create Event</title>
    <link href="stylesheets/style1.css" rel="stylesheet" >
 

</head>
<body>
   <form class="searchform cf">
  <input type="text" placeholder="Enter a name for your Event">
  <button type="submit">Event Name</button>
<br>
<p> . </p>
  <input type="text" placeholder="Enter your good name please">
  <button type="submit">Your Name</button>
  <p> . </p>


</form>

  <button type="submit" onclick="window.location.href='page3.html'">Create Event</button>

</body>
</html>