{% extends "master.html" %}
{% block title %}
OptiMeet
{% endblock %}

{% block head %}
{{ super() }}
 <link href={{ url_for('static', filename='halloween.css')}} rel="stylesheet" >
{% endblock %}

{% block content %}
<style>
.container img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%,
    height: auto;
    z-index: -1;
    opacity: 0.6;
    overflow-x:hidden;
    overflow-y:hidden;

}
</style>
<div class="container">
    <img src="/static/background.jpg">
	<div class="col s4 offset-s4" style="margin-top:100px">
        <center>
		<i class="large material-icons">location_on</i>
        <h5><a class="blue waves-effect waves-light btn" style="height:100px" href="/create-event">
            Create Event</a></h5>
        </center>
    </div>
</div>
{% endblock %}
