{% extends "master.html" %}
{% block title %}
OptiMeet
{% endblock %}

{% block head %}
{{ super() }}
 <link href={{ url_for('static', filename='halloween.css')}} rel="stylesheet" >
 <style>
body {
    background-color: #f6f6f6;
    background-image: url('/static/background.jpg');
    background-repeat: no-repeat;
    background-center: 0;
    overflow-x:hidden;
        overflow-y: hidden;
}
 </style>

{% endblock %}

{% block content %}
<div class="container">
	<div class="col s4 offset-s4" style="margin-top:100px">
        <center>
		<i class="large material-icons">location_on</i>
        <h5><a class="blue waves-effect waves-light btn" style="height:100px" href="/create-event">
            Create Event</a></h5>
        </center>
    </div>
</div>
{% endblock %}
