<!DOCTYPE html>
<html>
<head>
	<title>Join Event</title>
    <link href={{ url_for('static', filename='style1.css')}} rel="stylesheet" >
 

</head>
<body>
    <form class="searchform cf">
  <input type="text" placeholder="Enter your name please"
  name="name">
  <input type=hidden id="long" name="long">
  <input type=hidden id="lat" name="lat">
  <button>Your Name</button>
<br>
<p> . </p>
  <input type="text" placeholder="Enter your group's invite code" name="auth">
  <button>Invite Code</button>
  <br>
  <p>Please allow the browser to access your location</p>
  <button id="create" type="submit">Join Event</button>
</form>

<script>
    window.onload = function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    };

    function showPosition(position) {
        document.getElementById('lat').value = position.coords.latitude;
        document.getElementById('long').value = position.coords.longitude;
    }

</script>

</body>
</html>
