{% extends "master.html" %}
{% block title %}
Join Event
{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="container">
    <h4>Join Event</h4>
    <form class="searchform cf">
        <div class="row">
            <div class="input-field col s12">
                <input type="text" id="name" placeholder="Enter your name"
                name="name" autofocus>
                <label for="name">Your Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input type="text" placeholder="Enter your 4 digit invitation code" name="auth" id="auth">
                <label for="auth">4 Digit Invite Code</label>
            </div>
        </div>
        <input type=hidden id="long" name="long">
        <input type=hidden id="lat" name="lat">
        <p>Please allow the browser to access your location</p>
        <button class="btn waves-effect waves-light" type="submit"
                                                     name="action">Join Event
                                                     <i class="material-icons right">send</i>
        </button>
    </form>
</div>

<script>
window.onload = function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        Materialize.toast("Geolocation is not supported by this browser :(", 5000);
    }
};

function showPosition(position) {
    document.getElementById('lat').value = position.coords.latitude;
    document.getElementById('long').value = position.coords.longitude;
}

</script>
{% endblock %}
