{% extends "master.html" %}
{% block title %}
404 Error Not Found
{% endblock %}

{% block head %}
{{ super() }}
<link href={{ url_for('static', filename='halloween.css')}} rel="stylesheet" >
{% endblock %}

{% block content %}

<h1>404 Error Not Found</h1>
<p>Unfortunately, that page doesn't exist here. Are you sure you have the right URL?</p>
<div class="halloween">
	<div class="head">
		<div class="skull">
			<div class="eyes">
				<div class="eye eye-left"></div>
				<div class="eye eye-right"></div>
			</div>
		</div>
	</div>
	<div class="body"></div>
	<div class="legs"></div>
</div>

{% endblock %}