{% extends "master.html" %}
{% block title %}
{{ name }}
{% endblock %}

{% block head %}
{{ super() }}
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

  <!-- Load Leaflet from CDN-->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0/dist/leaflet.css" />
<link rel="stylesheet" href="https://js.arcgis.com/3.18/dijit/themes/claro/claro.css">
    <link rel="stylesheet" href="https://js.arcgis.com/3.18/esri/css/esri.css">
  <script src="https://unpkg.com/leaflet@1.0.0/dist/leaflet-src.js"></script>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- Load Esri Leaflet from CDN -->
  <script src="https://unpkg.com/esri-leaflet@2.0.4"></script>
  <style>
    body { margin:0; padding:0; }
    #map { position: absolute; top:0; bottom:0; right:0; left:0; }
    .card {width: 300px;}
  </style>

{% endblock %}


{% block content %}
<!--  The following is the div that is acting as a container to hold the map-->
<style>
    .above-map {
        z-index: 400;
    }

    #infobar {
        position: absolute;
        top: 70px;
        right: 10px;
    }

    #share-btn {
        position: absolute;
        left: 10px;
        bottom: 0px;
    }
</style>
  <div id="map"></div>
<div class="above-map col s3 offset-s9" id="infobar">
    <div class="card blue darken-3">
        <div class="card-content white-text">
            <span class="card-title">{{ name }}</span>
            <hr>
            <p><b>Optimal Location:</b> <span id="locationName"></span></p>
            <p><b>Address:</b> <span id="locationAddr"></span></p>
            <br>
            <center>
            <a class="blue darken-1 waves-effect waves-light btn" href="" id="goto">
                <i class="material-icons right">send</i>
                Take Me There
            </a>
            </center>
            <hr>
            <p><b>Party Members:</b></p>
            <div id="friends"></div>
            <hr>
            <p><b>Invite Others</b></p>
            <label for="sharingLink" class="white-text">Sharing Link</label>
            <input onClick="this.setSelectionRange(0, this.value.length)"
                   value="{{link|safe}}" id="sharingLink"/>
            <label for="authCode" class="white-text">Invitation Code</label>
            <input onClick="this.setSelectionRange(0, this.value.length)"
                   value="{{auth}}" id="authCode"/>
            </center>
        </div>
    </div>
</div>

  <script>
//Check out more Sample code and API reference at http://esri.github.io/esri-leaflet/examples/

//Adds the map control and sets the center point to Durham and zoom scale to 10. For more info on the Leaflet map control check out: http://leafletjs.com/reference.html#map-class

//The following line of code adds a number of data points coming from a Esri rest endpoint.  The data is farmers markets in Wake County and from: http://data.ral.opendata.arcgis.com/datasets/953ff61e36bd468d8ae267437377fa9c_0.\ . The points are added as a feature layer which means you can see the points on the map and create a popup showing the information about the points.  To learn more about feature layers: http://esri.github.io/esri-leaflet/api-reference/layers/feature-layer.html

var data = {{ places|safe }}
var locations = {{ locs|safe }}
var to_focus = {{ center|safe }}


var map = L.map('map', { zoomControl:false }).setView(to_focus, 16); //35.9886° N, 78.9072° W

//Adds a basemap to the map.  To see all the available basemaps: http://esri.github.io/esri-leaflet/api-reference/layers/basemap-layer.html
L.esri.basemapLayer('Topographic').addTo(map);

var render_data = function(d, m) {
    var pointicon = L.icon({
        iconUrl: '../../../static/location-icon.png',
        iconSize: [25, 30]
    });
    var optimalpointicon = L.icon({
        iconUrl: '../../../static/optimal-location.png',
        iconSize: [30, 35]
    });
    var personicon = L.icon({
        iconUrl: '../../../static/people.png',
        iconSize: [25, 30]
    });
    var me = L.icon({
        iconUrl: '../../../static/me.png',
        iconSize: [30, 35]
    });

    L.geoJson(d, {
        pointToLayer: function(feature, latlng) {
            console.log(latlng);
            if (feature.properties.optimal) {
                var marker = L.marker(latlng, {icon: optimalpointicon});
                document.getElementById('locationName').innerHTML = feature.properties.name;
                document.getElementById('locationAddr').innerHTML = feature.properties.vicinity;
                document.getElementById('goto').href = "https://maps.google.com?saddr=Current+Location&daddr=" + latlng.lat + "," + latlng.lng
            }
            else {
                var marker = L.marker(latlng, {icon: pointicon});
            }

            var tooltiptext = feature.properties.name + " (" +
                feature.properties.rating + " stars)" + "<br>" +
                feature.properties.vicinity + "<br>" +
                "<a href=\"https://maps.google.com?saddr=Current+Location&daddr="
                + latlng.lat + "," + latlng.lng + "\">Take Me There</a>"

            marker.bindPopup(tooltiptext);
            return marker;
        }
    }).addTo(map);

    L.geoJson(m, {
        pointToLayer: function(feature, latlng) {
            if (feature.properties.me) {
                var marker = L.marker(latlng, {icon: me});
            }
            else {
                var marker = L.marker(latlng, {icon: personicon});
                document.getElementById("friends").innerHTML +=
                    feature.properties.name + "<br>";
            }

            var tooltiptext = feature.properties.name;
            marker.bindPopup(tooltiptext);
            return marker;
        }
    }).addTo(map);
};

render_data(data, locations);
  </script>
  {% endblock %}
